.Reg{
    text-align: center;
    background-color: rgb(221, 221, 220);  
    padding: 20px;
    padding-left: 5%;
    padding-right: 5%;
    border: 5px solid #677067;
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 5%;
    margin-bottom: 10%;
  }
  